/**************************/
/* SOLUTION 1 - USING FLEXBOX */
/**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.container {
  /* 1440 px */
  max-width: 140rem;
  min-height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-component {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 25%;
  padding: 1.8rem;
  border-radius: 15px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}

.card-component img {
  display: block;
  border-radius: 15px;
  width: 100%;
}

.text-tagline {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0rem 1.8rem;
}

.text-description {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0rem 2.6rem;
  color: hsl(220, 15%, 55%);
}

.attribution {
  font-size: 1.1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/**************************/
/* MEDIA QUERIES */
/**************************/
/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 704px  */
@media (max-width: 44em) {
  html {
    /* 7px / 16px  */
    font-size: 43.75%;
  }

  .card-component {
    gap: 1.4rem;
    width: 30%;
    padding: 1.2rem;
  }

  .text-tagline {
    font-size: 1.8rem;
    padding: 0rem 1.2rem;
  }

  .text-description {
    font-size: 1.1rem;
    padding: 0rem 2.2rem;
  }

  .attribution {
    font-size: 0.8rem;
  }
}
/**************************/
/* BELOW 400px  */
/* html font-size: 7px */
@media (max-width: 25em) {
  .card-component {
    gap: 3.2rem;
    width: 90%;
    padding: 1.8rem;
  }

  .text-tagline {
    font-size: 3rem;
    padding: 0rem 2.4rem;
  }

  .text-description {
    /* 2.2x7 = 15.4px */
    font-size: 2.2rem;
    padding: 0rem 3.2rem;
  }

  .attribution {
    /* 1.6x7 = 11.2px */
    font-size: 1.6rem;
  }
}
