/* *************************/
/* SOLUTION 2 - USING ABSOLUTE POSITIONING  */
/**************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}

.container {
  /* 1440 px */
  max-width: 140rem;
  min-height: 100vh;
  margin: auto;
  position: relative;
}

.card-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  background-color: hsl(0, 0%, 100%);
}

.card-component img {
  display: block;
  border-radius: 15px;
  width: 100%;
  margin-bottom: 1.6rem;
}

.text-tagline {
  font-size: 2.2rem;
  font-weight: 700;
  padding: 1rem 1.8rem;
}

.text-description {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1rem 1.3rem;
  color: hsl(220, 15%, 55%);
  margin-bottom: 1.6rem;
}

.attribution {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
